<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column content" style="max-width: 300px; margin-left: auto; margin-right: auto">
                <ValidationObserver v-slot="{ handleSubmit }">
                    <form @submit.prevent="handleSubmit(submit)">

                        <h1>Application Form</h1>

                        <b-field>
                            <br />
                            <b-radio v-model="formCategory" name="category" native-value="Entrepreneur">
                                <span>Entrepreneur</span>
                            </b-radio>
                            <b-radio v-model="formCategory" name="category" native-value="Student">
                                <span>Student</span>
                            </b-radio>
                        </b-field>

                        <ValidationProvider rules="required" v-slot="{ errors }">
                            <b-field label="Team Name" :type="{'is-danger': errors.length}" :message="errors[0]">
                                <b-input v-model="formTeamName" placeholder="The Awesomes"></b-input>
                            </b-field>
                        </ValidationProvider>

                        <ValidationProvider rules="required" v-slot="{ errors }">
                            <b-field label="Name (Primary Contact)" :type="{'is-danger': errors.length}"
                                :message="errors[0]">
                                <b-input v-model="formContactName" placeholder="Hulio Solomon"></b-input>
                            </b-field>
                        </ValidationProvider>

                        <ValidationProvider rules="required" v-slot="{ errors }">
                            <b-field label="LINE ID (not phone number)" :type="{'is-danger': errors.length}"
                                :message="errors[0]">
                                <b-input v-model="formLine" placeholder="@iloveline"></b-input>
                            </b-field>
                        </ValidationProvider>

                        <ValidationProvider rules="required|email" v-slot="{ errors }" data-vv-delay="750">
                            <b-field label="Email" :type="{'is-danger': errors.length}" :message="errors[0]">
                                <b-input v-model="formEmail" placeholder="iloveline@gmail.com"></b-input>
                            </b-field>
                        </ValidationProvider>

                        <b-field v-if="!formPresentation" label="Presentation">
                            <b-upload v-model="formPresentation" drag-drop>
                                <section class="section">
                                    <div class="content has-text-centered">
                                        <p>
                                            <b-icon icon="upload" size="is-large"></b-icon>
                                        </p>
                                        <p>Drop your file here or click to upload</p>
                                    </div>
                                </section>
                            </b-upload>
                        </b-field>

                        <b-field v-if="formPresentation" label="Presentation">
                            <div class="tags">
                                <span class="tag is-primary">
                                    {{formPresentation.name}}
                                    <button class="delete is-small" type="button"
                                        @click="deletePresentationFile()"></button>

                                </span>
                            </div>
                        </b-field>

                        <b-progress v-if="formPresentation" :value="uploadProgress" :show-value="uploadProgress===100">
                            Upload complete
                        </b-progress>

                        <b-button native-type="submit" type="is-primary" :loading=submitted>Submit Application
                        </b-button>

                    </form>
                </ValidationObserver>
            </div>
        </div>
    </div>
</section>