<ValidationObserver v-slot="{ handleSubmit }">
    <form @submit.prevent="handleSubmit(submit)">
        <section class="section">
            <div class="container">
                <div class="content">
                    <h1>Application Form</h1>
                    <p>
                        <strong>สมาชิกในทีมเพียง 1 คนเท่านั้นที่จะต้องสมัคร</strong><br />
                        สำหรับ Presentation และคำแนะนำอื่นๆ <router-link to="apply">ดูวิธีการสมัคร</router-link>
                    </p>
                    <p>
                        <strong>Only 1 team member needs to apply.</strong><br />
                        For presentation template and guidance, see <router-link to="apply">how to apply</router-link>.
                    </p>
                </div>

                <div class="columns">
                    <div class="column" style="max-width: 310px; margin-right: 3em;">

                        <ValidationProvider rules="required" v-slot="{ errors }">
                            <b-field label="Your Name" :type="{'is-danger': errors.length}">
                                <b-input v-model="formContactName" placeholder="Hulio Solomon"></b-input>
                            </b-field>
                        </ValidationProvider>

                        <ValidationProvider rules="required" v-slot="{ errors }">
                            <b-field label="LINE ID (not phone number)" :type="{'is-danger': errors.length}"
                                style="margin-top: 0.9em;">
                                <b-input v-model="formLine" placeholder="@iloveline"></b-input>
                            </b-field>
                        </ValidationProvider>

                        <ValidationProvider rules="required|email" v-slot="{ errors }" data-vv-delay="750">
                            <b-field label="Email" :type="{'is-danger': errors.length}" style="margin-top: 0.9em;">
                                <b-input v-model="formEmail" placeholder="iloveline@gmail.com"></b-input>
                            </b-field>
                        </ValidationProvider>

                    </div>
                    <div class="column" style="max-width: 310px;">

                        <ValidationProvider rules="required" v-slot="{ errors }">
                            <b-field label="Team Name" :type="{'is-danger': errors.length}">
                                <b-input v-model="formTeamName" placeholder="The Awesomes"></b-input>
                            </b-field>
                        </ValidationProvider>

                        <b-field label="Team Type" style="margin-top: 0.9em;">
                            <div style="padding: 0.5em 0 0.15em;">
                                <b-radio v-model="formCategory" name="category" native-value="Entrepreneur">
                                    <p><span>Entrepreneur</span></p>
                                </b-radio>
                                <b-radio v-model="formCategory" name="category" native-value="Student">
                                    <p><span>Student</span></p>
                                </b-radio>
                            </div>
                        </b-field>

                        <ValidationProvider rules="required" v-slot="{ errors }">
                            <b-field label="Team Presentation (PDF)" style="margin-top: 0.9em;">
                                <div style="display: flex; align-items: center;">
                                    <b-upload v-if="!formPresentation" v-model="formPresentation">
                                        <a class="button" :class="{ 'custom-button-danger': errors.length }">
                                            <b-icon icon="upload"></b-icon>
                                            <span style="padding: 0 0.1em;">Click to upload</span>
                                        </a>
                                    </b-upload>

                                    <b-tag v-if="formPresentation" @close="deletePresentationFile()" type="is-primary"
                                        size="is-medium" closable>
                                        {{formPresentation.name.slice(0, -4).substring(0,16) + ((formPresentation.name.length > 20) ? '~' : '') + '.pdf'}}
                                    </b-tag>

                                    <span v-if="formPresentation">
                                        <!-- <div v-if="uploadProgress<100" class="loader" is-loading
                                            style="margin-left: 0.7em;"></div> -->

                                        <span v-if="uploadProgress<100"
                                            style="font-style: italic; font-size: 0.8em; margin-left: 0.9em;">{{uploadProgress}}%</span>

                                        <span v-if="uploadProgress===100"
                                            style="font-style: italic; font-size: 0.8em; margin-left: 0.9em;">uploaded!</span>
                                    </span>
                                </div>
                            </b-field>

                        </ValidationProvider>
                    </div>
                </div>

                <div class="content">
                    <b-button native-type="submit" type="is-primary" :loading=submitted style="margin-top: 0.5em;">
                        Submit Application</b-button>
                </div>
            </div>
        </section>
    </form>
</ValidationObserver>